input {
  outline: none;
}
input:focus {
  border: 1px solid #1f98f4;
}
input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}
h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}
.footer-link-items a {
  opacity: 70%;
  transition: 0.3s;
}
.footer-link-items a:hover {
  opacity: 1;
}
